@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.phone-large(landscape) { font-size: 16px; }
  @include media.phone-large(portrait) { font-size: 16px; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.paragraph {
  // letter-spacing: 1px;
  font-size: 20px;
  color: black;
  margin-bottom: 2vh;

  // Media Query
  @include media-query
}