@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.Max13-landscape { font-size: 30px; }
  @include media.Max13-portrait { font-size: 30px; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.subheading {
  font-weight: 600;
  font-size: 45px;
  color: #9C9C9C;
  margin-bottom: 2vh;

  .black {
    color: black;
  }
  
  .blue {
    color: #495390;
  }
  
  @include media-query
}