.about {
  // Display
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Sizing
  width: 100vw;
  height: 100vh;

  // Properties
  background-color: black;
  color: white;
  
  .detail {
    // border: 1px solid white;
    margin-left: 10%;
  }

  .image {
    margin-right: 5%;
    width: 50vw;
  }
}