/*=== Button Animation ===*/
.button {
  transition: 100ms ease-in-out
}

.button:hover {
  width: calc(275px + 10px);
  height: calc(80px * 1.2);
  font-size: calc(30px * 1.5);
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid black
}

.button:active{
  width: calc(275px + 15px);
  height: calc(80px * 1.3);
  font-size: calc(30px * 2);
  border: 10px solid black
}


/*=== Email Animation ===*/
/*
23 Characters
100ms Each Character Animated
2.3s Total Dynamic Time
5s Duration
2.7s Delay
*/

/*EMAIL-IDLED*/
.t, .u, .y, .e, .n, .m, .i, .n2, .h, .k, .h2, .o, .n3, .g, .at, .l, .i2, .v, .e2, .c, .o2, .u2, .k2 {
  position: relative;
  animation-name: jump;
  animation-duration: 15000ms, 15000ms; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.u {
  animation-delay: 100ms;
}
.y {
  animation-delay: 200ms;
}
.e {
  animation-delay: 300ms;
}
.n {
  animation-delay: 400ms;
}
.m {
  animation-delay: 500ms;
}
.i {
  animation-delay: 600ms;
}
.n2 {
  animation-delay: 700ms;
}
.h {
  animation-delay: 800ms;
}
.k {
  animation-delay: 900ms;
}
.h2 {
  animation-delay: 1000ms;
} 
.o {
  animation-delay: 1100ms;
} 
.n3 {
  animation-delay: 1200ms;
} 
.g {
  animation-delay: 1300ms;
}
.at {
  animation-delay: 1400ms;
} 
.l {
  animation-delay: 1500ms;
} 
.i2 {
  animation-delay: 1600ms;
} 
.v {
  animation-delay: 1700ms;
}
.e2 {
  animation-delay: 1800ms;
} 
.c {
  animation-delay: 1900ms;
} 
.o2 {
  animation-delay: 2000ms;
} 
.u2 { 
  animation-delay: 2100ms;
} 
.k2 {
  animation-delay: 2200ms;
}

@keyframes jump {
  from {
    bottom: 0px;
  }
  
  2% {
    bottom: 5px;
    font-size: 50px;
    font-weight: 600;
  }
  
  5% { 
    bottom: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  
  to {
    bottom: 0px;
  }
} 

/*EMAIL-BUTTON*/
.email .hovered:hover {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4.7px;
}

.email .hovered:active {
  color: white;
  font-weight: 200;
}