// Ipad Pro 
$L-iProW: 1367px;
$P-iProW: 1025px;

// Ipad
$L-iPadW: 1025px;
$P-iPadW: 769px;

// Plus Size Phone
$L-PlusW: 737px;
$P-PlusW: 415px;

.button {
  // Sizing
  width: 13vw;
  height: 8vh;

  // Properties
  background-color:black;
  color: white;
  border: 0;
  border-radius: 100px;
  cursor: pointer;

  // Fonts
  font-family: "roboto condensed";
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 4px;

  // Animation
  transition: 100ms ease-in-out;
  &:hover {
    width: 14vw;
    height: 8vh;
    color: black;
    font-size: calc(1.5vw * 1.5);
    font-weight: bold;
    background-color: white;
    border: 1px solid black
  }

  &:active{
    width: calc(15vw + 1vw);
    height: calc(8vh + 3vh);
    font-size: calc(1.5vw + 1.5vw);
    border: 10px solid black
  }
}

/* =============================================================================*/
/* =                           MEDIA QUERY                                     =*/
/* =============================================================================*/