.button {
  width: 275px;
  height: 80px;

  background-color:black;
  color: white;
  border: 0;
  border-radius: 100px;
  cursor: pointer;

  font-family: "raleway";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
}