@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  
  @include media.tablet-large(landscape) {
    margin-left: 10vw;
    margin-bottom: 15vh;
  }
  @include media.tablet-large(portrait) {
    margin-left: 12.5vw; 
  }


  @include media.tablet-small(landscape) {
    margin-left: 12.5vw;
  }

  
  @include media.phone-large(landscape) {
    @include mixins.grid-self-align-justify(end, none);
    margin-bottom: 10vh;
    margin-left: 15vw;
  }
  @include media.phone-large(portrait) {
    margin-bottom: 15vh;
    margin-left: 6vw;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.button-container {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  align-self: end; /* vertical */
  justify-self: start; /* horizontal */
  margin-left: 12.5vw;
  margin-bottom: 15vh;
  // border: 1px solid black;

  /* Animation Properties */
  opacity: 0%;
  animation: appearIn 1s ease-out 1s 1 normal forwards;

  // Media Query
  @include media-query
}

/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/