@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';


/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-portrait {
    justify-self: start;
    align-self: center;
    margin-left: 12.5%;
  }

  @include media.iPad-landscape {
    justify-self: start;
    align-self: center;
    margin-left: 12.5%;
  }

  @include media.Max13-landscape { margin-bottom: 10%; }
  @include media.Max13-portrait { margin-bottom: 10%; }
}



/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.description-container {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  @include mixins.grid-self-align-justify(end, end);
  margin-right: 3%;
  margin-bottom: 2%;
  width: 30%;
  
  /* Animation Properties */
  opacity: 0%;
  animation: appearIn 1000ms ease-out 1s 1 normal forwards;

  // Media Query
  @include media-query
}

/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/

@keyframes appearIn {
  from {
    opacity: 0%;
  } to {
    opacity: 100%;
  }
}