@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(portrait) { display: none; }
  @include media.tablet-small(landscape) { display: none; }
  @include media.tablet-small(portrait) { display: none; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.designer {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  @include mixins.grid-self-align-justify(center, center);

  // Properties
  font-weight: bold;
  font-size: 10vw ;
  color: white;
  letter-spacing: 6vw;
  text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2); /*Using rgba opacity will only apply to selected property*/

  /* Animation properties */
  opacity: 0;
  animation: moveUp 1s ease-out 0s 1 normal forwards;
  transition: 2s ease-out;

  // Media Query
  @include media-query;

  span {
    opacity: 0;
  }
}


/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/

@keyframes moveUp {
  from {
    transform: translateY(100vh);
    opacity: 0%;
  } to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes appearIn {
  to {
    opacity: 100%;
  }
}