@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';


/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(portrait) {
    justify-self: start;
    align-self: center;
    margin-left: 12.5%;
  }

  @include media.tablet-small(landscape) {
    justify-self: start;
    align-self: center;
    margin-left: 12.5%;
  }

  @include media.phone-large(landscape) { margin: 0 0 0 15vw; }
  @include media.phone-large(portrait) { 
    margin: 20vh 0 0 35vw;
    width: 50vw;
  }
}



/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.description-container {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  @include mixins.grid-self-align-justify(end, end);
  margin-right: 3%;
  margin-bottom: 2%;
  width: 30%;
  
  /* Animation Properties */
  opacity: 0%;
  animation: appearIn 1000ms ease-out 1s 1 normal forwards;

  // Media Query
  @include media-query
}

/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/

@keyframes appearIn {
  from {
    opacity: 0%;
  } to {
    opacity: 100%;
  }
}