@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';
/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(portrait) { display: none; }
  @include media.tablet-small(landscape) { display: none; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.IG {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  @include mixins.grid-self-align-justify(center, center);

  // Properties
  font-weight: bold;
  font-size: 10vw;
  color: white;
  letter-spacing: 6vw;

  /* Animation properties */
  opacity: 0%;
  animation: moveUp 1s ease-out 200ms 1 normal forwards;

  // Media Query
  @include media-query
}


/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/

@keyframes moveUp {
  from {
    transform: translateY(100vh);
    opacity: 0%;
  } to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes appearIn {
  to {
    opacity: 100%;
  }
}