@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-landscape {
    width: 38%;
    justify-self: center;
  }

  @include media.iPro-portrait {
    width: 70vw;
    justify-self: end;
    transform: translateX(20vw);
    animation: moveUpiPadPortrait 1s ease-out 100ms;
  }

  @include media.iPad-landscape {
    width: 45%;
    justify-self: center;
    transform: translateX(20vw);
  }

  @include media.Max13-landscape { 
    width: 30vw; 
    animation: moveUpPhoneLandscape 1s ease-out 100ms;
  }

  @include media.Max13-portrait {
    width: 50vh;
    transform: translateX(60vw);
    animation: moveUpPhonePortrait 1s ease-out 100ms;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.self {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  @include mixins.grid-self-align-justify(end, center);
  transform: translateY(100vh);

  // Properties
  width: 30%;

  // Animation
  opacity: 100%;
  animation: moveUp 1s ease-out 100ms normal forwards;

  // Media query
  @include media-query
}


/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/

@keyframes moveUp {
  from {
    transform: translateY(100vh);
    opacity: 0%;
  } to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes appearIn {
  to {
    opacity: 100%;
  }
}

@keyframes moveUpiPadPortrait {
  from {
    transform: translate(20vw, 100vh);
    opacity: 0%;
  } to {
    transform: translate(20vw,0);
    opacity: 100%;
  }
}

@keyframes moveUpPhonePortrait {
  from {
    transform: translate(60vw, 100vh);
    opacity: 0%;
  } to {
    transform: translate(60vw,0);
    opacity: 100%;
  }
}

@keyframes moveUpPhoneLandscape {
  from {
    transform: translate(20vw, 100vh);
    opacity: 0%;
  } to {
    transform: translate(20vw,0);
    opacity: 100%;
  }
}

