.container {
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;

    text-decoration: none;
    color: black;

    h1 {
      margin: 0;
      font-size: 48px;
      font-weight: 400;
    }

    svg {
      transform: rotate(-90deg);
    }
  }

  h6 {
    margin: 0;
    text-align: end;
    font-size: 20px;
    font-weight: 100;
  }

  :hover {
    opacity: 50%;
  }
}

