/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/


/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.paragraph {
  // letter-spacing: 1px;
  font-size: 20px;
  color: black;
  margin-bottom: 8%;
  margin: 0;
}