@use '../../../globalUi/util/_mixins.scss';
/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/


/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.subheading {
  font-weight: 600;
  font-size: 45px;
  color: #9C9C9C;
  margin-bottom: 2%;
  margin: 0;

  .black {
    color: black;
  }
  
  .blue {
    color: #495390;
  }
}