.top {
  position: fixed;
  padding-right: 100vw;
  padding-top: 20vh;
  background-color: black;
  opacity: 10%;
}

.bottom {
  position: fixed;
  padding-right: 100vw;
  padding-bottom: 20vh;
  top: 80vh;
  background-color: black;
  opacity: 10%;
}