@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/vars';


/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  // Ipad Pro Landscape
  @media only screen and (max-device-width: vars.$L-iProW) and (orientation: landscape) {
  }

  // Ipad Pro Portrait
  @media only screen and (max-device-width: vars.$P-iProW) and (orientation: portrait) {
  }

  // Ipad Landscape
  @media only screen and (max-device-width: vars.$L-iPadW) and (orientation: landscape) {
  }

  // Ipad Portrait
  @media only screen and (max-device-width: vars.$P-iPadW) and (orientation: portrait) {
  }

  // Plus Size Phone Landscape
  @media only screen and (max-device-width: vars.$L-PlusW) and (orientation: landscape) {
  }

  // Plus Size Phone Portrait
  @media only screen and (max-device-width: vars.$P-PlusW) and (orientation: portrait) {
  }
}



/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.description-container {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  @include mixins.grid-self-align-justify(end, end);
  margin-right: 3%;
  margin-bottom: 2%;
  width: 30%;
  
  /* Animation Properties */
  opacity: 0%;
  animation: appearIn 1000ms ease-out 1s 1 normal forwards;

  // Media Query
  @include media-query
}

/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/

@keyframes appearIn {
  from {
    opacity: 0%;
  } to {
    opacity: 100%;
  }
}