@use 'util/mixins';

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.landing {
  @include mixins.width-height(100vw, 100vh);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  overflow: hidden;

  .designer, .self, .IG, .button-container {
    grid-column: 1;
    grid-row: 1;
  }
}

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/
