@use 'util/mixins';
@use 'util/vars';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  // Ipad Pro Landscape
  @media only screen and (max-device-width: vars.$L-iProW) and (orientation: landscape) {
    width: 38%;
    justify-self: center;
  }

  // Ipad Pro Portrait
  @media only screen and (max-device-width: vars.$P-iProW) and (orientation: portrait) {
    width: 70vw;
    justify-self: end;
    transform: translateX(30vw);
  }

  // Ipad Landscape
  @media only screen and (max-device-width: vars.$L-iPadW) and (orientation: landscape) {
    width: 38%;
    justify-self: center;
    transform: translateX(0vw);
  }

  // Ipad Portrait
  @media only screen and (max-device-width: vars.$P-iPadW) and (orientation: portrait) {
    width: 70vw;
    justify-self: end;
    transform: translateX(30vw);
  }

  // Plus Size Phone Landscape
  @media only screen and (max-device-width: vars.$L-PlusW) and (orientation: landscape) {
    justify-self: end;
  }

  // Plus Size Phone Landscape
  @media only screen and (max-device-width: vars.$L-PlusW) and (orientation: landscape) {
    justify-self: end;
  }

  // Plus Size Phone Portrait
  @media only screen and (max-device-width: vars.$P-PlusW) and (orientation: portrait) {
    width: 100vw;
    justify-self: end;
    transform: translateX(60vw)
  }
}


/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.self {
  // Grid
  @include mixins.grid-self-align-justify(end, center);

  // Properties
  width: 30%;

  // Animation
  opacity: 100%;
  animation: moveUp 1s ease-out 100ms;

  // Media query
  @include media-query
}


/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/

@keyframes moveUp {
  from {
    transform: translateY(100vh);
    opacity: 0%;
  } to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes appearIn {
  to {
    opacity: 100%;
  }
}
