@use '../../globalUi/util/mixins';
@use '../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(landscape) { 
    width: 25vw;
    height: 70vh;
    margin-left: 5%; 
  }
  @include media.tablet-large(portrait) { 
    margin: 0; 
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 40vw;
    height: 80vh;
  }


  @include media.phone-large(landscape) {
    width: 50vw;
    height: 50vh;
    margin-left: 0;
    border: 3px solid black;
  }
  @include media.phone-large(portrait) {
    width: 55vw;
    border: 3px solid black;
  }

  
  @include media.phone-medium(portrait) {
    height: 60vh;
    width: 50vw;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/



.screen {
  border: 5px solid black;
  border-radius: 50px;
  width: 55vw;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.5);

  // Media Query
  @include media-query()
}