@use '../../globalUi/util/mixins';
@use '../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-landscape { margin-left: 5%; }
  @include media.iPro-portrait { 
    margin: 0; 
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 40vw;
    height: 80vh;
  }

  @include media.Pro11-landscape { margin-top: 10vh; }
  @include media.Pro11-portrait { margin-top: 5vh; }

  @include media.Max13-landscape {
    width: 50vw;
    height: 50vh;
    margin-left: 0;
  }
  @include media.Max13-portrait {
    width: 55vw;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/



.screen {
  border: 5px solid black;
  border-radius: 50px;
  width: 55vw;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.5);

  // Media Query
  @include media-query()
}