@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.Max13-landscape { font-size: 16px; }
  @include media.Max13-portrait { font-size: 16px; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.copied {
  /*=== Spacing ===*/
  @include mixins.flex-content-align-justify(center, none);
  height: 20px;

  /*fonts*/
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;

  // Media Query
  @include media-query
}  