@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
/* 
  Raleway font:  
  Thin 100
  Extra-Light 200
  Light 300
  Regular 400
  Semi-bold 600
  Black 900
*/

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
}

body {
  /* Sizing body */
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

}

