@use '../../globalUi/util/mixins';
@use '../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(portrait) { flex-direction: column; }
  @include media.phone-large(landscape) { transform: translateX(-5vw); }
  @include media.phone-medium(portrait) { flex-direction: column; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.projects {
  // Display
  display: flex;
  align-items: center; // NOT WORKING FOR SAFARI IOS
  justify-content: center; 

  // Sizing
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: env(safe-area-inset-bottom);

  // Media Query
  @include media-query();
}