@use '../../globalUi/util/mixins';
@use '../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-portrait { flex-direction: column; }
  @include media.Pro11-landscape { flex-direction: column; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.projects {
  // Display
  display: flex;
  align-items: center;
  justify-content: center;

  // Sizing
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  // Media Query
  @include media-query();
}