@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(landscape) { margin-left: 13vw; }
  @include media.tablet-large(portrait) {
    width: 50vw;
    margin: 0;
    margin-top: 15vh;
    text-align: center;
  }
  

  @include media.phone-large(landscape) {
    margin: 0;
    margin-left: 5vw;
    width: 30vw;
    text-align: left;
  }
  @include media.phone-large(portrait) {
    margin: 0;
    margin-right: 12vw;
    margin-top: 10vh;
    width: 60vw;
    text-align: left;
  }


  @include media.phone-xsmall(landscape) {
    width: 80vw;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.description-container {
  // border: 1px solid white;
  margin-left: 10vw;
  width: 25vw;

  @include media-query()
}