@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.Pro11-portrait { text-decoration: underline; }
  @include media.Pro11-landscape { text-decoration: underline;}
  @include media.Max13-landscape { display: none; }
  @include media.Max13-portrait { display: none;}
  
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.cta {
  // Positioning
  margin: 0;
  padding: 0;

  // Properties
  font-weight: 600;
  color: black;

  // Media Query
  @include media-query()
}