@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-landscape { 
    margin-top: 5vh; 
    left: 3vw;
  }

  @include media.iPro-portrait {
    text-align: center;
    width: 60vw;
    left: 0;
  }

  @include media.Pro11-landscape {
    text-align: center;
    width: 50vw;
  }

  @include media.Max13-portrait {
    margin-top: 5vh;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.description {
  width: 25%;
  height: 50%;
  position: relative;
  left: 5%;
  // border: 1px solid black;

  // Media Query
  @include media-query()
}