@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.Pro11-landscape { font-size: 40px; }
  @include media.Pro11-portrait { font-size: 40px; }
  @include media.Max13-landscape { font-size: 25px; }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.heading {
  // Positioning
  margin: 0;
  padding: 0;

  // Properties
  font-weight: 600;
  font-size: 100px;

  // Media Query
  @include media-query()
}