@use '../../../../globalUi/util/mixins';
@use '../../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  // Tablet Desktop
  @include media.tablet-large(landscape) { 
    width: 38vw;
  }

  @include media.tablet-large(portrait) { 
    width: 70vw;
    justify-self: end;
    transform: translate(20vw, 100vh);
    animation: moveUp-tablet 1s ease-out 100ms normal forwards;
  }

  
  @include media.tablet-small(landscape) { 
    justify-self: end; 
  }

  
  // Phone Large
  @include media.phone-large(landscape) {
    width: 60vw;
    justify-self: center;
    animation: moveUp-phone-large-landscape 1s ease-out 100ms normal forwards;
  }

  @include media.phone-large(portrait) {
    animation: moveUp-phone-large-portrait 1s ease-out 100ms normal forwards;
    justify-self: center;
    width: 50vh;
  }


  // Phone Medium
  @include media.phone-medium(landscape) {
    width: 60vw;
    justify-self: center;
    animation: moveUp-phone-medium-landscape 1s ease-out 100ms normal forwards;
  }
}



/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.self {
  // Positioning
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  
  // Properties
  width: 30%;
  
  // Animation
  opacity: 100%;
  transform: translateY(200vh);
  animation: moveUp 500ms ease-out 100ms normal forwards;

  // Media query
  @include media-query
}


/* =============================================================================*/
/* =                           ANIMATION                                       =*/
/* =============================================================================*/
// Desktop & Tablet
@keyframes moveUp {
  from {
    transform: translateY(100vh);
  } to {
    transform: translateY(0);
  }
}

@keyframes moveUp-tablet {
  from {
    transform: translate(20vw, 100vh);
  } to {
    transform: translate(20vw,0);
  }
}


// Large Phone
@keyframes moveUp-phone-large-portrait {
  from {
    transform: translate(10vw, 100vh);
  } to {
    transform: translate(10vw,0);
  }
}

@keyframes moveUp-phone-large-landscape {
  from {
    transform: translate(10vw, 200vh);
  } to {
    transform: translate(10vw, 100vh);
  }
}


// Medium Phone
@keyframes moveUp-phone-medium-landscape {
  from {
    transform: translate(10vw, 200vh);
  } to {
    transform: translate(10vw, 70vh);
  }
}

