/*=== Button Animation ===*/
.button {
  transition: 100ms ease-in-out;
  &:hover {
    width: calc(275px + 10px);
    height: calc(80px * 1.2);
    color: black;
    font-size: calc(30px * 1.5);
    font-weight: bold;
    background-color: white;
    border: 1px solid black
  }

  &:active{
    width: calc(275px + 15px);
    height: calc(80px * 1.3);
    font-size: calc(30px * 1.8);
    border: 10px solid black
  }
}





/*=== Email Animation ===

  25 Characters
  100ms delay each character
  2.3s animated duration
  5s total duration

EMAIL IDLED ANIMATION*/
.idled li:nth-child(n+1) {
  position: relative;
  animation-name: jump;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

$delays: 1000ms 1100ms 1200ms 1300ms 1400ms 1500ms 1600ms 1700ms 1800ms 1900ms 2000ms 2100ms 2200ms 2300ms 2400ms 2500ms 2600ms 2700ms 2800ms 2900ms 3000ms 3100ms 3200ms 3300ms 3400ms;
@each $delay in $delays {
  $index: index($delays, $delay);
  .idled li:nth-child(#{$index}) {
    animation-delay: $delay
  }
}

@keyframes jump {
  from {
    bottom: 0px;
  }
  
  2% {
    bottom: 5px;
    font-size: 50px;
    font-weight: 600;
  }
  
  5% { 
    bottom: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  
  to {
    bottom: 0px;
  }
} 

/*EMAIL BUTTON ANIMATION*/
.email .hovered {
  &:hover {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5.5px;
  }
  &:active {
    color: white;
    font-weight: 200;
  }
}




/* Landing Opening Animation */
@keyframes moveUp {
  from {
    transform: translateY(100vh);
    opacity: 0%;
  } to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes appearIn {
  to {
    opacity: 100%;
  }
}