@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin gridSelfAlignJustify($align, $justify) {
  align-self: $align; /* vertical */
  justify-self: $justify; /* horizontal */
}

@mixin flexContentAlignJustify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}




/*=== Landing ===*/
.landing {
  @include widthHeight(100vw, 100vh);
  display: grid;
  grid-template-columns: 1fr; /*1 column*/
  grid-template-rows: 1fr auto; /*2 column*/
  overflow: hidden;

  .designer, .self, .IG, .button-container, .description {
    grid-column: 1;
    grid-row: 1;
  }

  /*GROUP SPACING*/
  .self, .designer, .IG, .description {
    margin-left: 50px;
  }

  .designer {
    font-weight: bold;
    font-size: 200px;
    color: white;
    letter-spacing: 6pc;
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2); /*Using rgba opacity will only apply to selected property*/

    /*Grid Spacing*/
    @include gridSelfAlignJustify(center, center);

    /* Animation properties */
    opacity: 0;
    animation: moveUp 1s ease-out 0s 1 normal forwards;
    transition: 2s ease-out;
  }

  .self {
    /*Grid Spacing*/
    @include gridSelfAlignJustify(end, center);

    /* Animation properties */
    opacity: 0;
    animation: moveUp 1s ease-out 100ms 1 normal forwards;
  }

  .IG {
    font-weight: bold;
    font-size: 200px;
    color: white;
    letter-spacing: 6pc;

    /*Grid Spacing*/
    @include gridSelfAlignJustify(center, center);

    /* Animation properties */
    opacity: 0;
    animation: moveUp 1s ease-out 200ms 1 normal forwards;
  }

}




/*=== Button ===*/
.button-container {
  @include widthHeight(33%, 33%);
  @include gridSelfAlignJustify(end, none);
  @include flexContentAlignJustify(center, center);
  margin-left: 50px;

  /* Animation Properties */
  opacity: 0%;
  animation: appearIn 1s ease-out 1s 1 normal forwards;
}




/*=== Description ===*/
.description {
  /* Spacing */
  @include gridSelfAlignJustify(end, end);
  margin-right: 50px;
  margin-bottom: 30px;

  /* Animation Properties */
  opacity: 0%;
  animation: appearIn 1s ease-out 1s 1 normal forwards;

  .idled, .hovered {
    /*=== Spacing ===*/
    @include flexContentAlignJustify(center, none);
    height: 20px;
    padding: 0;
    margin: 0;
  
    /*fonts*/
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 400;
  
    /*lists*/
    list-style-type: none;
    cursor: pointer;
  
    /*button*/
    border: none;
    background-color: transparent;
    transition: 100ms ease-in-out;
  }
  
  .tuyen-khong {
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 5px;
  }
  
  .subheading {
    font-weight: 600;
    font-size: 45px;
    color: #9C9C9C;
  }
  
  .design {
    color: black;
  }
  
  .programming {
    color: #495390;
  }
  
  .paragraph {
    letter-spacing: 2px;
    font-size: 20px;
    color: #9C9C9C;
  }
  
  .email {
    /* border: 1px solid black; */
    width: max-content;
  }
  
  
  .copied {
    /*=== Spacing ===*/
    @include flexContentAlignJustify(center, none);
    height: 20px;
  
    /*fonts*/
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 400;
  }  
}



