/* NEW VERSION */
/* Referenced iOS device */
$tablet-large-portrait: 1025px;
$tablet-small-portrait: 821px;
$phone-large-portrait: 477px;
$phone-medium-portrait: 415px;
$phone-small-portrait: 376px;
$phone-xsmall-portrait: 321px;

$tablet-large-landscape: 1367px;
$tablet-small-landscape: 1135px;
$phone-large-landscape: 927px;
$phone-medium-landscape: 897px;
$phone-small-landscape: 813px;
$phone-xsmall-landscape: 668px;


/* OLD VERSION */
/* Ipad Pro */ 
$L-iProW: 1367px;
$P-iProW: 1025px;

/* Ipad 11 Pro */
$L-Pro11W: 1195px;
$P-Pro11W: 835px;

/* Ipad Air */
$L-iPadW: 1181px;
$P-iPadW: 821px;

/* 12-13 Max */
$L-MaxW: 927px;
$P-MaxW: 429px;

/* 12-13 Regular */
$L-RegW: 845px;
$P-RegW: 391px;

/* Iphone 6-8 Plus */
$L-PlusW: 737px;
$P-PlusW: 415px;

/* Iphone SE */
$L-SEW: 668px;
$P-SEW: 376px;

