@use '../../globalUi/util/mixins';
@use '../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.phone-large(landscape) { 
    display: inline-block;
    align-self: end;
    justify-self: start;

    font-size: 18vw;
    letter-spacing: 2px;
    transform:translate(3vw, 8vh)
  }
  
  @include media.phone-large(portrait) {
    display: inline-block;
    align-self: start;

    transform-origin: bottom left;
    transform: rotate(90deg) translate(-12vh, 7.3vw);


    padding: 0;

    font-size: 16vh;
    letter-spacing: 12px;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.bgtext {
  display: none;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  // border: 1px solid black;


  @include media-query
}