@use '../../globalUi/util/mixins';
@use '../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-paragraph {
  @include media.phone-large(landscape) { font-size: 16px; }
  @include media.phone-large(portrait) { font-size: 16px; }
}

@mixin media-heading {
  @include media.phone-large(landscape) { font-size: 30px;}
  @include media.phone-large(portrait) { font-size: 30px;}
}
/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.description {
  // width: 25vw;
  font-weight: lighter;
}

.paragraph, .paragraph1, .heading {
  margin: 0;
  padding : 0;
}

.heading {
  font-size: 50px;
  margin-bottom: 5vh;

  @include media-heading()
}

.paragraph, .paragraph1 {
  margin-top: 2vh;
  font-size: 18px;

  @include media-paragraph()
}

