@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(landscape) { 
    margin-top: 5vh; 
    left: 3vw;
  }

  @include media.tablet-large(portrait) {
    text-align: center;
    width: 60vw;
    left: 0;
  }

  @include media.phone-large(landscape) {
    left: 2;
    height: auto;
  }

  @include media.phone-large(portrait) {
    // margin-top: 1vh;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.description {
  width: 25vw;
  height: 50vh;
  position: relative;
  left: 5vw;
  // border: 1px solid black;

  // Media Query
  @include media-query()
}