@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.Pro11-landscape { 
    font-size: 16px; 
    // text-align: center;
  }
  @include media.tablet-small(portrait) { 
    font-size: 16px; 
  }

  @include media.phone-large(landscape) { 
    margin-bottom: 2vh;
    font-size: 16px; 
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  
  // Properties
  letter-spacing: 1px;

  // Media Query
  @include media-query()
}