@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-portrait { margin-bottom: 5%; } 

  @include media.Pro11-landscape { display: none; }

  @include media.Max13-portrait { display: none;}
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.subject {
  // Positioning
  margin: 0;
  padding: 0;
  margin-bottom: 15%;

  // Properties
  font-weight: 600;
  font-size: 16px;

  // Media query
  @include media-query()
}