@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(portrait) { 
    margin-bottom: 5%; 
  }
  
  @include media.tablet-small(landscape) { 
    font-size: 16px;
    margin-bottom: 2vh; 
  }

  @include media.phone-large(landscape) { 
    display: none; 
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.subHeading {
  // Positioning
  margin: 0;
  padding: 0;
  margin-bottom: 15%;

  // Properties
  font-weight: 400;
  font-size: 15px;

  // Media Query
  @include media-query()
}