@use '../../globalUi/util/mixins';
@use '../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-social {
  @include media.phone-large(landscape) { 
    top: 25vh;
    left: 89vw; 
  }

  @include media.phone-large(portrait) {
    left: 5vw;
    top: 15vh;
  }
}

@mixin media-components {
  @include media.phone-large(landscape) { 
    width: 4vw;
    height: 4vw;
    margin-bottom: 3vw;
  }
  
  @include media.phone-large(portrait) { 
    width: 4vh;
    height: 4vh;
    margin-bottom: 3vh;
  }
}

@mixin media-copied {
  @include media.phone-large(landscape) { 
    top: 24vh; 
  }

  @include media.phone-large(portrait) {
    top: 14vh;
  }
}


/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.social {
  // Display
  display: flex;
  flex-direction: column;

  // Positioning
  position: fixed;
  z-index: 1;
  top: 65%;
  left: 1.4%;
  
  @include media-social()
}

.email, .github, .linkedin, .codepen{
  // Sizing
  width: 30px;
  height: 30px;
  margin-bottom: 20px;

  // Animation
  cursor: pointer;
  transition: 300ms ease-out;
  &:hover {
    opacity: 30%;
  }

  @include media-components()
}

.copied {
  // Positioning
  position: fixed;
  top: 64%;
  transform: translateX(-200px);
  z-index: 2;

  // Properties
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 60px;
  letter-spacing: 3px;

  // Animations
  transition: 500ms ease-out;
  @include media-copied()
}