@use '../../../globalUi/util/_mixins.scss';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/


/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.copied {
  /*=== Spacing ===*/
  @include mixins.flex-content-align-justify(center, none);
  height: 20px;

  /*fonts*/
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 200;
}  