@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.phone-large(landscape) { 
    top: 10vh;
    left: 92vw;
  }
  @include media.phone-large(portrait) {  
    top: 5vh;
    left: 90vw;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.burger {
  width: 20px;
  height: 20px;
  
  display: flex;
  flex-direction: column;
  
  position: fixed;


  z-index: 1;
  
  // border: 1px solid black;
  cursor: pointer;
  @include media-query()
}

.burger span {
  height: 2px;
  width: 100%;
  background-color: black;
  
  -webkit-transition: all 350ms ease-out;
  transition: 500ms ease-out;
  margin: 4px 0;
}