.nav {
  // Positioning
  position: relative;
  left: 100vw;
  display: flex;
  flex-direction: column;

  // Sizing
  height: 100vh;
  
  // Properties
  background: black;
  color: white;
  font-family: 'Roboto Condensed';
  
  // Animation
  -webkit-transition: all 350ms ease-out;
  transition: 300ms ease-out;
}

.nav button {
  // Sizing
  width: 100vw;
  flex-grow: 1;

  // Properties
  background-color: black;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px grey solid;
}