// Ipad Pro 
$L-iProW: 1367px;
$P-iProW: 1025px;

// Ipad
$L-iPadW: 1025px;
$P-iPadW: 769px;

// 12-13 Max
$L-MaxW: 927;
$P-MaxW: 429;

// 12-13 Regular
$L-RegW: 845px;
$P-RegW: 391px;

// Iphone 6-8 Plus
$L-PlusW: 737px;
$P-PlusW: 415px;



