// Ipad Pro 
$L-iProW: 1367px;
$P-iProW: 1025px;

// Ipad
$L-iPadW: 1081px;
$P-iPadW: 811px;

// 12-13 Max
$L-MaxW: 927px;
$P-MaxW: 429px;

// 12-13 Regular
$L-RegW: 845px;
$P-RegW: 391px;

// Iphone 6-8 Plus
$L-PlusW: 737px;
$P-PlusW: 415px;

// Iphone SE
$L-SEW: 668px;
$P-SEW: 376px;

