@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(portrait) {
    flex-direction: column;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.about {
  // Display
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  // Sizing
  width: 100vw;
  height: 100vh;

  // Properties
  background-color: black;
  color: white;

  // Media Query
  @include media-query()
}