@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-landscape { margin-left: 13vw; }
  @include media.iPro-portrait {
    width: 50vw;
    margin: 0;
    margin-top: 15vh;
    text-align: center;
  }

  @include media.Max13-landscape {
    margin-left:5vw;
    width: 30vw;
  }

  @include media.Max13-portrait {
    margin-top: 10vh;
    width: 60vw;
  }

  @include media.se-landscape {
    width: 80vw;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/


.description-container {
  // border: 1px solid white;
  margin-left: 10vw;
  width: 25vw;

  @include media-query()
}