
@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.tablet-large(portrait) {
    margin: 0;
    margin-bottom: 15vh;

    width: 70vw;
  }


  @include media.phone-large(landscape) {
    margin-right: 15vw;
    margin-left: 2vw;
  }
  @include media.phone-large(portrait) {
    margin-bottom: 40vw;
  }


  @include media.phone-xsmall(landscape) {
    display: none;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.image {
  margin-right: 5%;
  width: 50vw;

  // Media Query
  @include media-query()
}