
@use '../../../globalUi/util/mixins';
@use '../../../globalUi/util/media';

/* =============================================================================*/
/* =                          MEDIA QUERY                                      =*/
/* =============================================================================*/

@mixin media-query {
  @include media.iPro-portrait {
    margin: 0;
    margin-bottom: 15vh;

    width: 70vw;
  }

  @include media.Max13-landscape {
    margin-right: 15vw;
  }

  @include media.se-landscape {
    display: none;
  }
}

/* =============================================================================*/
/* =                            STYLE                                          =*/
/* =============================================================================*/

.image {
  margin-right: 5%;
  width: 50vw;

  // Media Query
  @include media-query()
}